{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content">
        <!--== Start Faq Area Wrapper ==-->
        <section class="faq-area">
            <div class="container">
                <div class="row flex-xl-row-reverse">
                    <div class="col-lg-6 col-xl-7">
                        <div class="faq-thumb">
                            <img src="{% static "assets/images/faq.jpg" %}" width="601" height="368"
                                 alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="faq-content">
                            <div class="faq-text-img"><img src="{% static "assets/images/photos/faq.webp" %}"
                                                           width="199" height="169"
                                                           alt="Image"></div>
                            <h2 class="faq-title">Частые вопросы</h2>
                            <div class="faq-line"></div>
                            <p class="faq-desc">Тут собраны ответы на самые популярные вопросы</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="accordion" id="FaqAccordion">
                            {% for question in questions %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ question.id }}">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ question.id }}" aria-expanded="false"
                                                aria-controls="collapse{{ question.id }}">
                                            {{ question.question }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{ question.id }}" class="accordion-collapse collapse"
                                         aria-labelledby="heading{{ question.id }}"
                                         data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>
                                                {{ question.answer }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Faq Area Wrapper ==-->

    </main>
{% endblock %}
