<div class="col-lg-3 col-md-4">
    <div class="my-account-tab-menu nav nav-tabs">
        <a class="nav-link" href="{% url "users:account" %}">О профиле</a>
        <a class="nav-link" href="{% url "users:order_list" %}">Заказы</a>
        <a class="nav-link" href="{% url "users:address" %}">Адреса</a>
        <form action="{% url "users:logout" %}" method="POST">
            {% csrf_token %}
            <a class="nav-link" onclick="this.parentNode.submit()">Выйти</a>
        </form>
    </div>
</div>
