<div class="col-lg-3 col-md-4">
    <div class="my-account-tab-menu nav nav-tabs">
        <a class="nav-link" href="{% url "users:account" %}">Dashboard</a>
        <a class="nav-link" href="{% url "users:order_list" %}">Orders</a>
        <a class="nav-link" href="{% url "users:address" %}">Address</a>
        <a class="nav-link" href="{% url "users:detail" %}">Account Details</a>
        <form action="{% url "users:logout" %}" method="POST">
            {% csrf_token %}
            <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
        </form>
    </div>
</div>
