{% load static %}
<!--== Start Product Quick Add Cart Modal ==-->
<aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-action-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-action-messages">
                        <i class="fa fa-check-square-o"></i> Успешно добавлено в корзину!
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--== End Product Quick Add Cart Modal ==-->

<!--== Start Aside Menu ==-->
<aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
       aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
        <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">Меню <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <div id="offcanvasNav" class="offcanvas-menu-nav">
            <ul>
                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="{% url "home" %}">Главная</a>
                </li>
                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="{% url "products:list" %}">Товары</a>
                </li>
                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="{% url "about" %}">О нас</a>
                </li>

                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="{% url "faq" %}">Частые вопросы</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--== End Aside Menu ==-->
